.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.95)
    ),
    url("../../assets/home-bg.avif") top center / cover no-repeat;
}

.container.dark {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95)),
    url("../../assets/home-bg.avif") top center / cover no-repeat;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.content h1 {
  color: var(--primary-text);
  line-height: 1.5;
  font-size: 46px;
  text-align: center;
}

.dark .content h1 {
  color: var(--primary-text-dark);
}

.supportingText {
  font-weight: 600;
  margin-left: 4px;
  font-size: 36px;
}

.virtualWorld {
  font-size: 54px;
  background: -webkit-linear-gradient(rgb(69, 143, 255), rgb(0, 34, 84));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .virtualWorld {
  font-size: 54px;
  background: -webkit-linear-gradient(rgb(146, 190, 255), rgb(44, 96, 175));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.startReading {
  font-size: 16px;
  background-color: var(--primary-bg);
  cursor: pointer;
  padding: 12px 36px;
  border-radius: 8px;
}

.dark .startReading {
  background-color: var(--secondary-bg-dark);
  color: var(--secondary-text-dark);
  border: none;
}
