.postContainer {
  display: flex;
  justify-content: center;
}

.postContent {
  max-width: 700px;
  width: 100%;
  text-align: justify;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.imageHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postContent h1,
.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6 {
  margin-top: 36px;
  text-align: left;
}

.postContent h1 {
  font-size: 28px;
}

#postTitle {
  font-size: 36px;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--profile-bg);
  color: var(--primary-text-dark);
  border-radius: 50%;
}

.dateText {
  color: var(--muted-text);
}

.dark .dateText {
  color: var(--muted-text-dark);
}

.postContent p {
  margin-top: 24px;
  line-height: 2;
  color: var(--secondary-text);
}

.dark .postContent p {
  color: var(--secondary-text-dark);
}

.postContent a {
  color: var(--primary-link);
}

.dark .postContent a {
  color: var(--primary-link-dark);
}

.bodyContainer img {
  width: 100%;
  height: auto;
}

@media (max-width: 750px) {
  .postContent {
    max-width: 100%;
  }

  .imageContainer {
    border-radius: 0;
    height: 400px;
    width: 100%;
  }

  .contentContainer {
    padding: 24px;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .contentContainer {
    padding: 16px;
    padding-top: 0;
  }
}

/* Loading */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.dark .skeleton {
  animation: skeleton-loading-dark 1s linear infinite alternate;
}

.skeletonText,
.skeletonTextLast,
.skeletonHeaderText,
.skeletonHeaderTextLast,
.skeletonTextHalf,
.skeletonTextShort,
.skeletonTextVeryShort {
  border-radius: 8px;
}

.skeletonText {
  width: 100%;
  height: 1em;
}

.skeletonTextLast {
  height: 1em;
  width: 80%;
}

h1.skeletonHeaderReset {
  margin-top: 16px;
  margin-bottom: 16px;
}

.skeletonHeaderText {
  width: 100%;
  height: 1em;
}

.skeletonHeaderTextLast {
  width: 80%;
  height: 1em;
}

.skeletonTextHalf {
  width: 50%;
  height: 1em;
}

.skeletonTextShort {
  width: 200px;
  height: 1em;
}

.skeletonTextVeryShort {
  width: 100px;
  height: 1em;
}

.imageContainerBody {
  margin-top: 36px;
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--loading-start);
  }

  100% {
    background-color: var(--loading-end);
  }
}

@keyframes skeleton-loading-dark {
  0% {
    background-color: var(--loading-start-dark);
  }

  100% {
    background-color: var(--loading-end-dark);
  }
}
