.postContainer {
  display: flex;
  justify-content: center;
}

.postContent {
  max-width: 700px;
  width: 100%;
  text-align: justify;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postContent h1,
.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6 {
  margin-top: 36px;
  text-align: left;
}

.postContent h1 {
  font-size: 28px;
}

#postTitle {
  font-size: 36px;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--profile-bg);
  border-radius: 50%;
}

.postContent p {
  margin-top: 24px;
  line-height: 2;
  color: var(--secondary-text);
}

.dark .postContent p {
  color: var(--secondary-text-dark);
}

.postContent a {
  color: var(--primary-link);
}

.dark .postContent a {
  color: var(--primary-link-dark);
}

.bodyContainer img {
  width: 100%;
  height: auto;
}

@media (max-width: 750px) {
  .postContent {
    max-width: 100%;
  }

  .imageContainer {
    border-radius: 0;
    height: 400px;
    width: 100%;
  }

  .contentContainer {
    padding: 24px;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .contentContainer {
    padding: 16px;
    padding-top: 0;
  }
}