.container {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.dark {
  background-color: var(--primary-bg-dark);
  color: var(--primary-text-dark)
}

.screenContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}