.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  background-color: var(--profile-bg);
  color: var(--primary-text-dark);
  padding: 6px;
  flex-shrink: 0;
}

.profileContainer span {
  font-weight: 500;
}

.noUser {
  background-color: rgb(42, 134, 255);
}