.container {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 16px;
}

.container::before {
  content: "";
  position: absolute;
  background: url("../../assets//register-login-bg.jpg") bottom center / cover
    no-repeat;
  inset: 0;
  z-index: 0;
  filter: grayscale(80%);
}

.container::after {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.95)
  );
  z-index: 1;
}

.dark.container::before {
  content: "";
  position: absolute;
  background: url("../../assets//register-login-bg.jpg") bottom center / cover
    no-repeat;
  inset: 0;
  z-index: 0;
  filter: grayscale(80%);
}

.dark.container::after {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95));
  z-index: 1;
}

.container > * {
  position: relative;
  z-index: 2;
}

.registerContainer {
  background-color: rgba(255, 255, 255, 0.109);
  max-width: 400px;
  width: 100%;
  padding: 32px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.dark .registerContainer {
  background-color: rgba(24, 24, 24, 0.4);
}

.loginContainer {
  background-color: rgba(255, 255, 255, 0.109);
  max-width: 400px;
  width: 100%;
  padding: 32px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.dark .loginContainer {
  background-color: rgba(24, 24, 24, 0.4);
}

.header {
  margin-bottom: 16px;
}

.redirect {
  color: var(--primary-link);
}

.dark .redirect {
  color: var(--primary-link-dark);
}

.dark .label {
  color: var(--muted-text-dark);
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 16px;
  margin-bottom: 6px;
  color: var(--muted-text);
}

.input {
  padding: 8px;
}

.submitButton {
  align-self: start;
  padding: 8px 36px;
  cursor: pointer;
  margin-top: 24px;
  background-color: var(--primary-bg);
}

.input,
.submitButton {
  border: 1px solid var(--muted-border);
  border-radius: 4px;
}

.dark .input,
.dark .submitButton {
  color: var(--primary-text-dark);
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--primary-border-dark);
}
