.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  border-bottom: 1px solid var(--primary-border);
  position: sticky;
  top: 0;
  padding: 8px 24px;
  background: rgba(250, 250, 250, 0.798);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.dark {
  background-color: var(--primary-bg-dark);
  color: var(--primary-text-dark);
}

.navbar.dark {
  border-color: var(--primary-border-dark);
  background: rgba(18, 18, 18, 0.798);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.logo {
  font-size: 24px;
  color: var(--primary-text);
  text-decoration: none;
  font-weight: 600;
}

.dark .logo {
  color: var(--primary-text-dark);
}

.toggleTheme,
.profileIcon {
  cursor: pointer;
}

.menuContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}

.profileContainer {
  display: flex;
}

.menuDropDown {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: opacity 200ms ease, transform 200ms ease;
  padding: 4px;
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 130%;
  display: flex;
  flex-direction: column;
}

.dark .menuDropDown {
  background-color: var(--primary-bg-dark);
  border: 1px solid var(--primary-border-dark);
}

.menuLink {
  cursor: pointer;
  padding: 8px;
  min-width: 100px;
  color: var(--primary-text);
  text-decoration: none;
}

.dark .menuLink {
  color: var(--primary-text-dark);
}

.menuLink:hover {
  background-color: var(--primary-bg-hover);
}

.dark .menuLink:hover {
  background-color: var(--primary-bg-hover-dark);
}

.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.backdrop {
  display: none;
}

.showBackdrop {
  display: block;
  top: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
