.miniContainer {
  display: flex;
  gap: 16px;
  flex: 1 1 auto;
  min-width: 100%;
}

.miniImageContainer {
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex: 0 1 30%;
  min-width: 30%;
}

.miniImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.postText {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.postTitle {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}