@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* ----- LIGHT MODE ----- */
  /* background */
  --primary-bg: rgb(250, 250, 250);

  /* text color */
  --primary-text: rgb(18, 18, 18);
  --muted-text: rgb(129, 129, 129);

  /* border */
  --primary-border: rgb(230, 230, 230);

  /* ----- DARK MODE ----- */
  /* background */
  --primary-bg-dark: rgb(18, 18, 18);
  --secondary-bg-dark: rgb(24, 24, 24);

  /* text color */
  --primary-text-dark: rgb(235, 235, 235);
  --muted-text-dark: rgb(179, 179, 179);

  /* border */
  --primary-border-dark: rgb(33, 33, 33);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.dark {
  background-color: var(--primary-bg-dark);
  color: var(--primary-text-dark);
}
