.loginBackdrop {
  pointer-events: none;
  z-index: 998;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 200ms ease;
  opacity: 0;
}

.dark.loginBackdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.loginBackdrop.show {
  pointer-events: auto;
  opacity: 1;
}

.loginPopupContainer {
  pointer-events: none;
  z-index: 999;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: var(--primary-bg);
  max-width: 350px;
  width: calc(100% - 32px);
  padding: 36px 24px;
  border-radius: 16px;
  transition: opacity 200ms ease, transform 200ms ease;
  opacity: 0;
  display: flex;
}

.loginPopupContainer.show {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
  opacity: 1;
}

.dark.loginPopupContainer {
  background-color: var(--secondary-bg-dark);
}

.loginPopupHeading {
  font-size: 20px;
}

.loginPopupText {
  color: var(--secondary-text);
}

.dark .loginPopupText {
  color: var(--secondary-text-dark);
}

.loginBtn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  padding: 8px;
  border-radius: 16px;
  border: 1px solid var(--bold-border);
  margin-top: 4px;
  font-size: 14px;
}

.dark .loginBtn {
  border: none;
}

@media (max-width: 460px) {
  .loginPopupContainer {
    padding: 36px 24px;
  }

  .loginPopupHeading {
    font-size: 16px;
  }

  .loginPopupText {
    font-size: 14px;
  }
}
